*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

#root {
  max-height: 100vh;
  overflow-y: hidden;
  position: relative;
}

.view {
  display: flex;
  max-width: 100vw;
  position: sticky;
  top: 0;
  right: 0;
}
